@charset "UTF-8";
/* CSS Document */

.footer p {
	text-align: center;
	font-family: Teko;
	padding-top: 11vh;
	color: #fff;
	font-size: 1em;
	font-weight: lighter;
	text-transform: uppercase;
}
.footer {
	background-color: #000;
	height: 200px;
	width: 100%;
}

@media only screen and (max-device-width: 480px) {
	.footer p {
		text-align: center;
		font-family: Teko;
		padding-top: 175px;
		color: #fff;
		font-size: 2em;
		font-weight: lighter;
		text-transform: uppercase;
	}
	.footer {
		background-color: #000;
		height: 400px;
		width: 100%;
	}
}
