/* Hero Style */

.hero h6 {
  font-size: 12px;
	font-family: Oswald;
	text-transform: uppercase;
	color: white;
  padding-bottom: 70px;
  position: absolute;
	top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
	position: absolute;
	top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
	font-family: Teko;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
}

.hero-image {
	height: 50%;
	width: 100%;
	opacity: 0.8;
	border-bottom: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-overlay {
	background-color: black;
}
