@charset "UTF-8";
/* CSS Document */

.hero-overlay h6, h1 {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h6 {
	margin-top: 20px;
	font-size: 10px;
}

h1 {
	margin-top: 20px;
	font-size: .5em;
}

.hero img {
	height: 200px;
	width: auto;
}